<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Community{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/Logo.svg') }}" />
</head>

{% block body %}

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top logo">Community</h1>
            <hr class="w3-border-grey" >
            <a href="{{ path('fos_user_security_login') }}">
                <div class="w3-large w3-center"><button type="button" class="btn btn-primary">Connexion</button></div>
            </a>
            <hr class="w3-border-grey">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('fos_user_registration_register') }}">
                <div class="w3-large w3-center"><button type="button" class="btn btn-primary">Inscription</button></div>
            </a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/United.css') }}" rel="stylesheet">
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
    <link href="{{ asset('css/W3C.css') }}" rel="stylesheet">


{% endblock %}
