{% extends 'base.html.twig' %}

{% block body %}
<div class="col-sm-6">
    <h1>{{ 'label.TaskEdit'|trans }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

        {% if (is_granted('ROLE_DEV') and (app.user.id == tache.user.id))
            or app.user.id == tache.projet.user.id or is_granted('ROLE_ADMIN') %}

            <a class="btn btn-success" href="{{ path('tache_terminer', { 'id': tache.id }) }}">{{ 'label.EndTask'|trans }}</a>

        {% endif %}

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}

    <a href="{{ path('tache_index') }}">{{ 'label.BackToList'|trans }}</a>
</div>
{% endblock %}
