{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
<div class="col-xs-12 margin" >
    <ul class="pagination pagination-sm">
        <li ><a href="{{ path('user_index') }}">{{ 'label.Users'|trans }}</a></li>
        <li ><a href="{{ path('projet_index') }}">{{ 'label.Projects'|trans }}</a></li>
        <li class="active"><a href="{{ path('tache_index') }}">{{ 'label.Task'|trans }}</a></li>

    </ul>

    <table class="table table-hover table-dark container ">
        <thead>
            <tr class="bg-primary">
                <th>{{ 'label.Id'|trans }}</th>
                <th>{{ 'label.Name'|trans }}</th>
                <th>{{ 'label.Description'|trans }}</th>
                <th>{{ 'label.StartDate'|trans }}</th>
                <th>{{ 'label.ExpectEndDate'|trans }}</th>
                <th>{{ 'label.EndDate'|trans }}</th>
                <th>{{ 'label.Advancement'|trans }}</th>
                <th>{{ 'label.Project'|trans }}</th>
                <th>{{ 'label.Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr class ="bg-success">
                <td><a href="{{ path('tache_show', { 'id': tache.id }) }}">{{ tache.id }}</a></td>
                <td>{{ tache.nom }}</td>
                <td>{{ tache.description }}</td>
                <td>{% if tache.dateDeb %}{{ tache.dateDeb|date('Y-m-d') }}{% endif %}</td>
                <td>{% if tache.dateFinPrevue %}{{ tache.dateFinPrevue|date('Y-m-d') }}{% endif %}</td>
                <td>{% if tache.dateFinReel %}{{ tache.dateFinReel|date('Y-m-d') }}{% endif %}</td>
                <td>{{ tache.avancement }}</td>
                <td>{{ tache.projet.nom }}</td>
                <td>

                        {% if is_granted('ROLE_DEV')%}

                            <a role="button" class="btn btn-xs btn-primary"
                               href="{{ path('tache_show', { 'id': tache.id }) }}">{{ 'label.Show'|trans }}</a>

                        {% endif %}
                        {% if (is_granted('ROLE_DEV') and (app.user.id == tache.user.id))
                            or app.user.id == tache.projet.user.id or is_granted('ROLE_ADMIN') %}

                            <a role="button" class="btn btn-xs btn-success"
                                href="{{ path('tache_edit', { 'id': tache.id }) }}">{{ 'label.Edit'|trans }}</a>

                        {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
