{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'label.TaskList'|trans }}</h1>

    <table>
        <thead>
            <tr>
                <th>{{ 'label.Id'|trans }}</th>
                <th>{{ 'label.Name'|trans }}</th>
                <th>{{ 'label.Description'|trans }}</th>
                <th>{{ 'label.StartDate'|trans }}</th>
                <th>{{ 'label.ExpectEndDate'|trans }}</th>
                <th>{{ 'label.EndDate'|trans }}</th>
                <th>{{ 'label.Advancement'|trans }}</th>
                <th>{{ 'label.Project'|trans }}</th>
                <th>{{ 'label.Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td><a href="{{ path('tache_show', { 'id': tache.id }) }}">{{ tache.id }}</a></td>
                <td>{{ tache.nom }}</td>
                <td>{{ tache.description }}</td>
                <td>{% if tache.dateDeb %}{{ tache.dateDeb|date('Y-m-d') }}{% endif %}</td>
                <td>{% if tache.dateFinPrevue %}{{ tache.dateFinPrevue|date('Y-m-d') }}{% endif %}</td>
                <td>{% if tache.dateFinReel %}{{ tache.dateFinReel|date('Y-m-d') }}{% endif %}</td>
                <td>{{ tache.avancement }}</td>
                <td>{{ tache.projet.nom }}</td>
                <td>
                    <ul>
                        {% if is_granted('ROLE_DEV')%}
                        <li>
                            <a href="{{ path('tache_show', { 'id': tache.id }) }}">{{ 'label.Show'|trans }}</a>
                        </li>
                        {% endif %}
                        {% if (is_granted('ROLE_DEV') and (app.user.id == tache.user.id))
                            or app.user.id == tache.projet.user.id or is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('tache_edit', { 'id': tache.id }) }}">{{ 'label.Edit'|trans }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
