{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tache</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tache.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tache.description }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if tache.dateDebut %}{{ tache.dateDebut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefinprevue</th>
                <td>{% if tache.dateFinPrevue %}{{ tache.dateFinPrevue|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefinreelle</th>
                <td>{% if tache.dateFinReelle %}{{ tache.dateFinReelle|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Avancement</th>
                <td>{{ tache.avancement }}</td>
            </tr>
            <tr>
                <th>Projet</th>
                <td>{{ tache.projet }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tache_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tache_edit', { 'id': tache.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
