{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'label.ListTask'|trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'label.Id'|trans }}</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Name'|trans }}</th>
                <td>{{ tache.nom }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Description'|trans }}</th>
                <td>{{ tache.description }}</td>
            </tr>
            <tr>
                <th>{{ 'label.StartDate'|trans }}</th>
                <td>{% if tache.dateDeb %}{{ tache.dateDeb|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'label.ExpectEndDate'|trans }}</th>
                <td>{% if tache.dateFinPrevue %}{{ tache.dateFinPrevue|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'label.EndDate'|trans }}</th>
                <td>{% if tache.dateFinReel %}{{ tache.dateFinReel|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'label.Advancement'|trans }}</th>
                <td>{{ tache.avancement }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Project'|trans }}</th>
                <td>{{ tache.projet.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tache_index') }}">{{ 'label.BackToList'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('tache_edit', { 'id': tache.id }) }}">{{ 'label.Edit'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('tache_terminer', { 'id': tache.id }) }}">{{ 'label.EndTask'|trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
