{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12 margin" >
    <h1>{{ 'label.ListTask'|trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'label.Id'|trans }}</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Name'|trans }}</th>
                <td>{{ tache.nom }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Description'|trans }}</th>
                <td>{{ tache.description }}</td>
            </tr>
            <tr>
                <th>{{ 'label.StartDate'|trans }}</th>
                <td>{% if tache.dateDeb %}{{ tache.dateDeb|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'label.ExpectEndDate'|trans }}</th>
                <td>{% if tache.dateFinPrevue %}{{ tache.dateFinPrevue|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'label.EndDate'|trans }}</th>
                <td>{% if tache.dateFinReel %}{{ tache.dateFinReel|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'label.Advancement'|trans }}</th>
                <td>{{ tache.avancement }}</td>
                <progress id="file" max="100" value="{{ tache.avancement }}"> {{ tache.avancement }} </progress>
            </tr>
            <tr>
                <th>{{ 'label.Project'|trans }}</th>
                <td>{{ tache.projet.nom }}</td>
            </tr>
        </tbody>
    </table>


        {% if (is_granted('ROLE_DEV') and (app.user.id == tache.user.id))
            or app.user.id == tache.projet.user.id or is_granted('ROLE_ADMIN') %}

       <br> <a href="{{ path('tache_edit', { 'id': tache.id }) }}" role="button" class="btn btn-info">{{ 'label.Edit'|trans }}</a></br>

        {% endif %}
        {% if (is_granted('ROLE_DEV') and (app.user.id == tache.user.id))
            or app.user.id == tache.projet.user.id or is_granted('ROLE_ADMIN') %}

                <a href="{{ path('tache_terminer', { 'id': tache.id }) }}"
                   role="button" class="btn btn-success">{{ 'label.EndTask'|trans }}</a>

        {% endif %}

        {% if (is_granted('ROLE_DEV') and (app.user.id == tache.user.id))
            or app.user.id == tache.projet.user.id or is_granted('ROLE_ADMIN') %}

                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}

        {% endif %}

    <br><a href="{{ path('tache_index') }}">{{ 'label.BackToList'|trans }}</a>
</div>
{% endblock %}
