{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_DEV' %}
                            Developpeur <br>
                        {% endif %}
                        {% if role == 'ROLE_CHEF' %}
                            Chef de projet <br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Competences</th>
                <td>{{ user.competences[0] }}</td>
            </tr>
            <tr>
                <th>Taches</th>
                <td>
                    {% for tache in user.taches %}
                        {{ tache.nom }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Projets</th>
                <td>
                    {% for projet in user.projets %}
                        {{ projet.nom }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') or app.user.id == user.id %}
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        {% endif %}
        <ul>
            {% if is_granted('ROLE_CHEF') %}
            <li>
                <a href="{{ path('projet_new', { 'id': user.id }) }}">Create a new projet</a>
            </li>
            {% endif %}
        </ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
