{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'label.ListUser'|trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'label.Id'|trans }}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Name'|trans }}</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Surname'|trans }}</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Fonction'|trans }}</th>
                <td>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_DEV' %}
                            {{ 'label.Developer'|trans }} <br>
                        {% endif %}
                        {% if role == 'ROLE_CHEF' %}
                            {{  'label.ProjectManager'|trans }}  <br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'label.Skill'|trans }}</th>
                <td>{{ user.competences[0] }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Task'|trans }}</th>
                <td>
                    {% for tache in user.taches %}
                        {{ tache.nom }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>{{ 'label.Project'|trans }}</th>
                <td>
                    {% for projet in user.projets %}
                        {{ projet.nom }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">{{ 'label.BackToList'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">{{ 'label.Edit'|trans }}</a>
        </li>
        <ul>
            <li>
                <a href="{{ path('projet_new', { 'id': user.id }) }}">{{ 'label.CreateProject'|trans }}</a>
            </li>
        </ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
