{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'label.ProjectList'|trans }}</h1>
    <table>
        <thead>
            <tr>
                <th>{{ 'label.Id'|trans }}</th>
                <th>{{ 'label.Name'|trans }}</th>
                <th>{{ 'label.Description'|trans }}</th>
                <th>{{ 'label.DateLine'|trans }}</th>
                <th>{{ 'label.StartDate'|trans }}</th>
                <th>{{ 'label.Client'|trans }}</th>
                <th>{{ 'label.Budget'|trans }}</th>
                <th>{{ 'label.Task'|trans }}</th>
                <th>{{ 'label.Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.description }}</td>
                <td>{% if projet.dateFin %}{{ projet.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{% if projet.dateDeb %}{{ projet.dateDeb|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ projet.client }}</td>
                <td>{{ projet.budget }}</td>
                <td>
                    {% for tache in projet.taches %}
                        {{ tache.nom }}<br>
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ 'label.Show'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">{{ 'label.Edit'|trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
