{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Datelimite</th>
                <th>Datedebut</th>
                <th>Client</th>
                <th>Budget</th>
                <th>Taches</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.description }}</td>
                <td>{% if projet.dateFin %}{{ projet.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{% if projet.dateDeb %}{{ projet.dateDeb|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ projet.client }}</td>
                <td>{{ projet.budget }}</td>
                <td>
                    {% for tache in projet.taches %}
                        {{ tache.nom }}<br>
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_show', { 'id': projet.id }) }}">show</a>
                        </li>
                        {% if (is_granted('ROLE_CHEF') and app.user.id == projet.user.id) or is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">edit</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
