{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
<div class="col-xs-12 margin" >
    <ul class="pagination pagination-sm">
        <li ><a href="{{ path('user_index') }}">{{ 'label.Users'|trans }}</a></li>
        <li class="active"><a href="{{ path('projet_index') }}">{{ 'label.Projects'|trans }}</h5></a></li>
        <li><a href="{{ path('tache_index') }}">{{ 'label.Task'|trans }}</a></li>

    </ul>

    <input class="form-control" id="myInput" type="text" placeholder={{ 'label.Search'|trans }}>

    <table  class="table table-hover table-dark container ">
        <thead>
            <tr class="bg-primary">
                <th>{{ 'label.Id'|trans }}</th>
                <th>{{ 'label.Name'|trans }}</th>
                <th>{{ 'label.Description'|trans }}</th>
                <th>{{ 'label.DateLine'|trans }}</th>
                <th>{{ 'label.StartDate'|trans }}</th>
                <th>{{ 'label.Client'|trans }}</th>
                <th>{{ 'label.Budget'|trans }}</th>
                <th>{{ 'label.Task'|trans }}</th>
                <th>{{ 'label.Action'|trans }}</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for projet in projets %}
            <tr class ="bg-success">
                <td><a href="{{ path('projet_show', { 'id': projet.id }) }}">{{ projet.id }}</a></td>
                <td>{{ projet.nom }}</td>
                <td>{{ projet.description }}</td>
                <td>{% if projet.dateFin %}{{ projet.dateFin|date('Y-m-d') }}{% endif %}</td>
                <td>{% if projet.dateDeb %}{{ projet.dateDeb|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ projet.client }}</td>
                <td>{{ projet.budget }}</td>
                <td>
                    {% for tache in projet.taches %}
                        {{ tache.nom }}<br>
                    {% endfor %}
                </td>
                <td>

                            <a role="button" class="btn btn-xs btn-primary"
                               href="{{ path('projet_show', { 'id': projet.id }) }}">{{ 'label.Show'|trans }}</a>

                        {% if (is_granted('ROLE_CHEF') and app.user.id == projet.user.id) or is_granted('ROLE_ADMIN') %}

                            <a role="button" class="btn btn-xs btn-success"
                               href="{{ path('projet_edit', { 'id': projet.id }) }}">{{ 'label.Edit'|trans }}</a>

                        {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
