{% extends 'base.html.twig' %}

{% block body %}
<div class="col-sm-6">
    <h1>{{ 'label.ProjectCreate'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input  class="btn btn-success" type="submit" value={{ 'label.CreateProject'|trans }} />
    {{ form_end(form) }}


            <a href="{{ path('projet_index') }}">{{ 'label.BackToList'|trans }}</a>
</div>
{% endblock %}
