{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ projet.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>Datelimite</th>
                <td>{% if projet.dateFin %}{{ projet.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if projet.dateDeb %}{{ projet.dateDeb|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ projet.client }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ projet.budget }}</td>
            </tr>
            <tr>
                <th>Taches</th>
                <td>
                    {% for tache in projet.taches %}
                        {{ tache.nom }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_index') }}">Back to the list</a>
        </li>
        {% if ((is_granted('ROLE_CHEF') and app.user.id == projet.user.id) or is_granted('ROLE_ADMIN')) %}
        <li>
            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">Edit</a>
        </li>
        {% endif %}
        {% if ((is_granted('ROLE_CHEF')  or is_granted('ROLE_ADMIN')) %}
        <li>
            <a href="{{ path('tache_new', { 'id': projet.id }) }}">Ajouter une tache</a>
        </li>
        {% endif %}
        <li>
            <a href="{{ path('tache_showAllFromProjet', { 'id': projet.id }) }}">Afficher Les taches affestées à ce projet</a>

            {% if ((is_granted('ROLE_CHEF') and app.user.id == projet.user.id) or is_granted('ROLE_ADMIN')) %}
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
            {% endif %}
        </li>
    </ul>
{% endblock %}
