{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ projet.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>Datelimite</th>
                <td>{% if projet.dateLimite %}{{ projet.dateLimite|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if projet.dateDebut %}{{ projet.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ projet.client }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ projet.budget }}</td>
            </tr>
            <tr>
                <th>Taches</th>
                <td>{{ projet.taches }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
