{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-6">
    <h1>{{ 'label.ShowProject'|trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'label.Id'|trans }}</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Name'|trans }}</th>
                <td>{{ projet.nom }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Description'|trans }}</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>{{ 'label.DateLine'|trans }}</th>
                <td>{% if projet.dateFin %}{{ projet.dateFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'label.StartdDate'|trans }}</th>
                <td>{% if projet.dateDeb %}{{ projet.dateDeb|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'label.Client'|trans }}</th>
                <td>{{ projet.client }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Budget'|trans }}</th>
                <td>{{ projet.budget }}</td>
            </tr>
            <tr>
                <th>{{ 'label.Task'|trans }}</th>
                <td>
                    {% for tache in projet.taches %}
                        {{ tache.nom }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>


        <br><a role="button" class="btn btn-primary"
           href="{{ path('tache_showAllFromProjet', { 'id': projet.id }) }}">{{ 'label.ShowTaskProject'|trans }}</a><br>

        {% if ((is_granted('ROLE_CHEF') and app.user.id == projet.user.id) or is_granted('ROLE_ADMIN')) %}

            <a role="button" class="btn btn-primary"
               href="{{ path('projet_edit', { 'id': projet.id }) }}">{{ 'label.Edit'|trans }}</a><br>

        {% endif %}

        {% if (is_granted('ROLE_CHEF')  or is_granted('ROLE_ADMIN')) %}

            <a role="button" class="btn btn-success"
               href="{{ path('tache_new', { 'id': projet.id }) }}">{{ 'label.AddTask'|trans }}</a>

        {% endif %}

        {% if ((is_granted('ROLE_CHEF') and app.user.id == projet.user.id) or is_granted('ROLE_ADMIN')) %}
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        {% endif %}
        <a href="{{ path('projet_index') }}">{{ 'label.BackToList'|trans }}</a>
    </div>
{% endblock %}
